id: interactive
meta: {}
name: Interactive Workflow
lifecycle_events:

item_steps:
  parse:
    name: docling parse
    retries: 3
    method: soliplex.ingester.lib.workflow.parse_document
    parameters: {}
  chunk:
    name: docling chunk
    retries: 3
    method: soliplex.ingester.lib.workflow.chunk_document
    parameters: {}
  embed:
    name: embeddings
    retries: 3
    method: soliplex.ingester.lib.workflow.embed_document
    parameters: {}
  store:
    name: save to rag
    retries: 3
    method: soliplex.ingester.lib.workflow.save_to_rag
    parameters: {}
