id: test_wf
meta: {}
name: Batch Workflow
lifecycle_events:
  group_start:
    - name: start span
      method: soliplex.ingester.example.start_span
      retries: 1
      parameters: {"span_id":"my-span-id"}  
  group_end:
    - name: end span
      method: soliplex.ingester.example.end_span
      retries: 1
      parameters: {"span_id":"my-span-id"}  
    - name: notify slack
      method: soliplex.ingester.example.notify_slack
      retries: 1
      parameters: {"channel":"my-channel", "message":"Workflow completed"}
    
item_steps:
  validate:
    name: docling validate
    retries: 3
    method: soliplex.ingester.lib.workflow.validate_document
    parameters: {}
  parse:
    name: docling parse
    retries: 3
    method: soliplex.ingester.lib.workflow.parse_document
    parameters: {}
  chunk:
    name: docling chunk
    retries: 3
    method: soliplex.ingester.lib.workflow.chunk_document
    parameters: {}
  embed:
    name: embeddings
    retries: 3
    method: soliplex.ingester.lib.workflow.embed_document
    parameters: {}
  store:
    name: save to rag
    retries: 3
    method: soliplex.ingester.lib.workflow.save_to_rag
    parameters: {}